@import './partials/variables.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif, fantasy; 
    /*il secondo è se nel caso non caricasse il primo*/
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

.main-button a{
    font-size: 2em;
    padding: 10px 30px;
}

.standard-button a{
    font-size: 1em;
    padding: 10px 50px;
}
